*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'Poppins';
    background-color: 
    #f1f4f8;
    }
#navbar1{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    position: sticky;
    top: 1px;
    background-color: aliceblue;
}
#navbar1>div+div{
    display: flex;
    justify-content: space-evenly;
    margin-right: 1%;
    width: 70%;
    padding-top: 10px;
}
#navbar1>div{
    margin-left: 100px; 
}
.border{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    cursor: pointer;
}

#sanitised{
    margin-top: -13px;
    font-size: 13px;
    margin-left:22px
}
.border:hover,.nav_color:hover{
   color:teal
}
.nav_color{
    padding-top: 5px;
    margin-left: 10px;
}
#exit_Log{
    /* margin-right: -25px; */
    margin-top: 4px;
}
/* :first */

#prev {
    position: absolute;
    background-color:transparent;
    top: 40%;
    left: 60px;
    border-radius: 90%;
    padding: .5%;
  }
  #next {
    position: absolute;
    background-color:transparent;
    top: 40%;
    right: 60px;
    border-radius: 90%;
    padding: .5%;

  }
 
  #imagesOfHome img{
width:40%;
margin-left: 50%;
height:80%;
padding-top: 10%;

  }
  #imagesOfHome >div{
    height: 70%;
  
    height: 580px
  }

  /* hundai subsciption */
  #hyundaibox{
    display: flex;
    justify-content: space-evenly;
    width:85%;
    height:50%;
    /* border:1px solid red; */
    margin: auto;
    padding:1%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10%;
  }
  #hyundaibox>div:first-child>h2{
    margin-left: 3%;
  }
  #hyundaibox>div:first-child>p{
    margin-left: 3%;
    font-size: 18px;
    color: #a5a5a5;
    margin-bottom: 8%;
  }
  
  
  #youtube{
    display: block;
    margin-top: 2%;
   
  }
  iframe{
    border-radius: 5px;
  }
  #first{
    width:43%;
    /* border: 1px solid red; */
  }
  #first>div>b{
    color: rgb(28,171,162);
    /* border:1px solid purple; */
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: 5%;
   
  
  }

  /* the safe car sanitized */
  #first_slider1{
    width: 100%;
    margin: auto;
    margin-top: 50px;
 }
 #container1 {
   display: flex;
   overflow-y: scroll;
   overflow-y:hidden ;
   height: 28%;
width: 80%;
/* margin; */
margin-left: 10%;
margin-top: 20px;
  
  
 }
 #container1>div{
    width: 50%;
    
 }
 #container1 > div > img {
   width:90%;
   height: 100%;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   margin-right: 10%
 }
 #home_top1 {
   display: flex;
   width: 90%;
   margin: auto;


 }
 #first_slider1 button {
    /* width: 100%; */
   
   height: 30px;
   margin-top: 25px;
   border: none;
   outline: none;
   background-color: white;
   background-color: rgba(red, green, blue, alpha);
   font-size: 30px;
 }
 #home_top1>div:nth-child(2) {
   margin-left: 73%;
 }

 /* how it works */
 
#workssection>div{
    display: flex;
    gap:5%;
  }
  table, th, td {
    /* border:1px solid black; */
    border-collapse: collapse;
    font-family: 'Poppins', "sans-serif ";
  }
   
  td:nth-child(2)>img{
    width: 13%;
  } 
  
  td:last-child>img
  {
    width: 13%;
  }
  td:nth-child(2){
    width: 40%;
  }
  
 
  table{
    height: 50%;
    width: 80%;
    margin: auto;
  }
  #faq {
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 4%;
  }

    
  