#mahindra1,
body {
  font-family: 'Poppins', "sans-serif ";
  font-size: 14px;
}

#mahindra1,
#navbar {
  display: flex;
  padding: -2%;
  gap: 20px;
  /* border: 1px solid red; */
  align-items: center;

}

#mahindra1,
#logo {
  margin-left: 7%;
  height: 5%;
}

#mahindra1,
#hyundai {
  display: block;
  width: 13%;
  height: 20px;
  border-left: 1px solid rgb(238, 233, 233);
  padding: 1%;


}

#mahindra1,
#navbar>p {
  margin-bottom: -1%;
  margin-left: -4%;

}

#mahindra1,
#work {
  margin-left: 35%;
  color: #4c2552;
  text-decoration: none;
}

#mahindra1,
#login_bar {
  margin-right: 2%;
  margin-left: 2%;
  color: #4c2552;
}

#mahindra1,
#faq {
  margin-left: 7%;
  margin-top: 5%;

}

#mahindra1,#faq h1 {
  margin-bottom: 4%;
}

#mahindra1,
#book,
#car,
#drive,
#return {
  padding: 40px;
  width: 4%;
  height: 1%;
  /* border:1px solid red; */
  border-radius: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#mahindra1,
#book:hover,
#car:hover,
#drive:hover,
#return:hover {
  padding: 40px;
  width: 4.5%;
  height: 6.5%;
  background-color: rgb(28, 169, 162);
  /* border:1px solid red; */
  border-radius: 90%;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#mahindra1,
#flexall {
  display: flex;
  /* border: 1px solid red; */
  padding: 2%;
  margin-left: 6%;
}


#mahindra1,
#works img {
  display: block;
  margin: center;
}

#mahindra1,
#works p {
  margin-top: 50px;
}

#mahindra1,
#works h1 {
  margin-left: 6%;
}

#hyundai1,
#text {
  display: flex;
  gap: 90px;
  /* border: 1px solid red; */

  margin-left: 6%;
}

#mahindra1,
#text>div>p {
  display: block;
  margin-top: -15px;
}

#mahindra1,
#faq>div>h3,
#faq>div>p {

  margin-left: 30px;
  margin-top: -17px;
}

#mahindra1,
#faq div {
  margin-top: 20px;
}

#mahindra1,
#p1 {
  margin-top: 80px;
}

#mahindra1,
#black {
  display: block;
  margin-left: 139px;
  margin-top: -42px;
}

#mahindra1,
#gray {
  display: inline;
  color: #888993;
}

#mahindra1,
#feedback {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  height: 50%;
  background-color: white;
  /* border: 1px solid pink; */
  padding: 5%;
}

#mahindra1,
#end {

  height: 30%;
  margin-left: 90%;
  margin-top: -90px;
}

#mahindra1,
.star {
  /* border: 1px solid red; */
  height: 8%;

}

#hyundai1,
#feedback1 {

  width: 80%;
  height: 50%;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2%;
  margin: auto;
}

#mahindra1,
#feedback1>p {
  margin-top: -2%;
}


#mahindra1,
button {
  border: none;

}

#mahindra1,
#buttonborder {
  width: 5%;
  height: 4%;
  /* border:1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1% 0% 1% 1%;
  margin-left: 80%;
  margin-bottom: 2%;
}

#mahindra1,
#button2 {


  margin: auto;
  margin-top: -80%;

}

#mahindra1,
#button1 {
  margin: auto;
  margin-top: -80%;
}

#mahindra1,
#footer {

  display: flex;
  gap: 5%;
  height: 60%;
  /* border: 1px solid red; */
  font-size: 16px;
  padding: 4%;
  background-color: rgb(42, 43, 54);

}

#mahindra1,
#footer ul>li {

  width: 100%;
  padding: 2%;
  color: rgb(146, 147, 152);
}

#mahindra1,
#footer ul>li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#mahindra1,
#footer h3 {
  color: rgb(255, 255, 255);
}

#mahindra1,
#contact {
  display: flex;
  height: 45%;
  /* border: 1px solid yellowgreen; */
  justify-content: space-evenly;
  padding: 2% 0% 0% 0%;
  background-color: rgb(61, 66, 80);
}

#mahindra1,
#contactlogo {
  display: block;
  height: 30%;
  margin-bottom: 4%;
  margin-left: -25%;
  margin-top: 4%;
}

#mahindra1,
#twitterlogo {
  margin-left: -25%;
  height: 20%;
  border-radius: 50%;
}

#mahindra1,
#facebooklogo {

  height: 20%;
  border-radius: 50%;
}

#mahindra1,
#contact1>p {
  margin-left: -25%;
  color: aliceblue;
}

#mahindra1,
.blue {
  color: rgb(14, 186, 186);
}

#mahindra1,
.white {
  color: aliceblue;
}

#mahindra1,
#bottom {
  margin-top: 3%;
}

#mahindra1,
#bottom li>p {
  color: rgb(103, 112, 130);
}

#mahindra1,
#backgroundcar {
  display: flex;
  /* border: 1px solid red; */
  height: 90%;
  gap: 4%;
  background-image: url("./icons/hyundai.jpg");
}

#mahindra1,
#inputbox {
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70%;
  width: 40%;
  margin-top: 3%;
  margin-left: 3%;
  padding: 3%;
  border-radius: 5px;
  background-color: white;
}

#mahindra1,
#inputbox img {
  margin-left: 20%;
  width: 55%;

}

#mahindra1,
#inputbox p,
h4 {
  text-align: center;

}


#mahindra1,#selectcity {
  height: 15%;
  width: 90%;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  
}

#mahindra1,select{
  font-size: 20px;
  font-weight: bolder;
}
#mahindra1,input{
  font-size: 20px;
  font-weight: bolder;
}
#mahindra1,#selectdate {
  display: inline;
  height: 15%;
  width: 50%;
  margin-top: 4%;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  
}

#mahindra1,
#month {
  margin-left: 60%;
  margin-top: -5.5%;
  border-bottom: 2px solid gray;
}

#mahindra1,
#searchproduct {
  display: block;
  border: 1px solid;
  width: 40%;
  padding: 4%;
  margin: auto;
  margin-top: 5%;
  background-color: rgb(123, 196, 212);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

#mahindra1,
#bytheyear {
  margin-bottom: -5.8%;

}

#mahindra1,
#looking {
  margin-bottom: -4%;
}

#mahindra1,
#explore b {
  margin-left: 34%;
  color: rgb(28, 171, 162);

}

#mahindra1,
#explore {
  /* border: 1px solid black; */
  height: 18%;
  width: 38%;
  padding: 1%;
  margin-top: 3%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 5px;
  background-color: white;

}

#mahindra1,
#works {
  margin-top: 10%;
}

#mahindra1,
#link {
  text-decoration: none;
  color: #4c2552;
  ;
}

#mahindra1,#mahindratext{
  text-align: center;
}